#create{
    left: 300px;
    position: relative;
    width: 100px;
}

#resumeButton{
    right: 10px;
    position: relative;
}

#create2{
    top: 200px;
    position: relative;
    right: 450px;
}
body{
    
    background: burlywood;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
}

#minesweeper{
    margin-top: 40px;
    text-align: center;    
    color: purple;
}

pre{
    text-align:center;
   font-family: Arial, Helvetica, sans-serif;
   color: blue;
   font-size: 14px;
}

address{
    text-align: center;
    font-family: arial;
    font-size: 20px;
    color: red;
}

#timer{
    text-align: center;
    padding-top: 20px;
}